.admin-content-wrap {
    margin-left: 200px;
    height: 100%;
    padding-left: 20px;
    position: relative;

    .admin-body {
        position: relative;

        .wrap {
            margin: 10px 20px 0 2px;
        }
    }
}